schemas/mathml3-common.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This is the Mathematical Markup Language (MathML) 3.0, an XML
      application for describing mathematical notation and capturing
      both its structure and content.
  
      With additional changes for integration into the validator.nu
      service.
  
      With additional changes for integration into EPUBCheck. 
  
      Copyright 1998-2010 W3C (MIT, ERCIM, Keio)
      Copyright 2012 Mozilla Foundation
      Copyright 2014-2019 W3C (MIT, ERCIM, Keio, Beihang)
  
      Use and distribution of this code are permitted under the terms
      W3C Software Notice and License
      http://www.w3.org/Consortium/Legal/2002/copyright-software-20021231
-->
<grammar ns="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="math">
    <element name="math">
      <ref name="math.attributes"/>
      <zeroOrMore>
        <ref name="MathExpression"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="MathExpression">
    <ref name="semantics"/>
  </define>
  <define name="NonMathMLAtt">
    <attribute>
      <anyName>
        <except>
          <nsName ns=""/>
          <nsName/>
        </except>
      </anyName>
      <data type="string"/>
    </attribute>
  </define>
  <define name="CommonDeprecatedAtt">
    <optional>
      <attribute name="other"/>
    </optional>
  </define>
  <!-- changed datatype of id attr from ID to non-empty string -->
  <define name="CommonAtt">
    <optional>
      <attribute name="id">
        <data type="string">
          <param name="pattern">[^\s]+</param>
        </data>
      </attribute>
    </optional>
    <optional>
      <attribute name="xref"/>
    </optional>
    <optional>
      <attribute name="class">
        <data type="NMTOKENS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="style">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
    </optional>
    <ref name="CommonDeprecatedAtt"/>
    <zeroOrMore>
      <ref name="NonMathMLAtt"/>
    </zeroOrMore>
  </define>
  <define name="math.attributes">
    <ref name="CommonAtt"/>
    <optional>
      <attribute name="display">
        <choice>
          <value>block</value>
          <value>inline</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="maxwidth">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="overflow">
        <choice>
          <value>linebreak</value>
          <value>scroll</value>
          <value>elide</value>
          <value>truncate</value>
          <value>scale</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="altimg">
        <data type="anyURI"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="altimg-width">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="altimg-height">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="altimg-valign">
        <choice>
          <ref name="length"/>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="alttext"/>
    </optional>
    <optional>
      <attribute name="cdgroup">
        <data type="anyURI"/>
      </attribute>
    </optional>
    <ref name="math.deprecatedattributes"/>
  </define>
  <!--
    the mathml3-presentation schema  adds additional attributes
    to the math element, all those valid on mstyle
  -->
  <define name="math.deprecatedattributes">
    <optional>
      <attribute name="mode">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="macros">
        <data type="string"/>
      </attribute>
    </optional>
  </define>
  <define name="name">
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="cd">
    <attribute name="cd">
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="src">
    <optional>
      <attribute name="src">
        <data type="anyURI"/>
      </attribute>
    </optional>
  </define>
  <define name="annotation">
    <element name="annotation">
      <ref name="annotation.attributes"/>
      <text/>
    </element>
  </define>
  <!-- changed content model of annotation-xml - - mike -->
  <define name="annotation-xml">
    <choice>
      <ref name="annotation-xml.xhtml"/>
      <ref name="annotation-xml.svg"/>
      <ref name="annotation-xml.mathml"/>
    </choice>
  </define>
  <define name="annotation-xml.model">
    <zeroOrMore>
      <choice>
        <ref name="MathExpression"/>
        <ref name="anyElement"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="anyElement">
    <element>
      <anyName>
        <except>
          <nsName/>
        </except>
      </anyName>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="anyElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="annotation-xml.xhtml">
    <element name="annotation-xml">
      <ref name="annotation-xml.model.xhtml"/>
      <ref name="annotation-xml.attributes"/>
      <optional>
        <ref name="att-encoding.xhtml"/>
      </optional>
    </element>
  </define>
  <define name="annotation-xml.model.xhtml">
    <notAllowed/>
  </define>
  <define name="att-encoding.xhtml">
    <attribute name="encoding">
      <choice>
        <value type="string" datatypeLibrary="">application/xhtml+xml</value>
        <value type="string" datatypeLibrary="">text/html</value>
      </choice>
    </attribute>
  </define>
  <define name="annotation-xml.svg">
    <element name="annotation-xml">
      <ref name="annotation-xml.model.svg"/>
      <ref name="annotation-xml.attributes"/>
      <optional>
        <ref name="att-encoding.svg"/>
      </optional>
    </element>
  </define>
  <define name="annotation-xml.model.svg">
    <notAllowed/>
  </define>
  <define name="att-encoding.svg">
    <attribute name="encoding">
      <value type="string" datatypeLibrary="">SVG1.1</value>
    </attribute>
  </define>
  <define name="annotation-xml.mathml">
    <element name="annotation-xml">
      <ref name="annotation-xml.model.mathml"/>
      <ref name="annotation-xml.attributes"/>
      <optional>
        <ref name="att-encoding.mathml"/>
      </optional>
    </element>
  </define>
  <define name="annotation-xml.model.mathml">
    <ref name="math"/>
  </define>
  <define name="att-encoding.mathml">
    <attribute name="encoding">
      <choice>
        <value type="string" datatypeLibrary="">MathML</value>
        <value type="string" datatypeLibrary="">MathML-Content</value>
        <value type="string" datatypeLibrary="">MathML-Presentation</value>
      </choice>
    </attribute>
  </define>
  <define name="annotation.attributes">
    <ref name="CommonAtt"/>
    <optional>
      <ref name="cd"/>
    </optional>
    <optional>
      <ref name="name"/>
    </optional>
    <ref name="DefEncAtt"/>
    <optional>
      <ref name="src"/>
    </optional>
  </define>
  <define name="annotation-xml.attributes">
    <ref name="CommonAtt"/>
    <optional>
      <ref name="cd"/>
    </optional>
    <optional>
      <ref name="name"/>
    </optional>
    <optional>
      <ref name="src"/>
    </optional>
  </define>
  <define name="DefEncAtt">
    <optional>
      <attribute name="encoding">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="definitionURL">
        <data type="anyURI"/>
      </attribute>
    </optional>
  </define>
  <define name="semantics">
    <element name="semantics">
      <ref name="semantics.attributes"/>
      <ref name="MathExpression"/>
      <zeroOrMore>
        <choice>
          <ref name="annotation"/>
          <ref name="annotation-xml"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="semantics.attributes">
    <ref name="CommonAtt"/>
    <ref name="DefEncAtt"/>
    <optional>
      <ref name="cd"/>
    </optional>
    <optional>
      <ref name="name"/>
    </optional>
  </define>
  <define name="length">
    <data type="string">
      <param name="pattern">\s*((-?[0-9]*([0-9]\.?|\.[0-9])[0-9]*(e[mx]|in|cm|mm|p[xtc]|%)?)|(negative)?((very){0,2}thi(n|ck)|medium)mathspace)\s*</param>
    </data>
  </define>
</grammar>
